In [3]:
import numpy as np
import pandas as pd

In [183]:
moviesraw = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [12]:
movies.head(1)
movies.shape

(4803, 20)

In [13]:
credits.head(1)
credits.shape

(4803, 4)

In [165]:
movies= moviesraw.merge(credits, on='title')

In [167]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [19]:
movies['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [168]:
movies=movies[['id','genres','overview','keywords','title','cast','crew']]

In [169]:
movies.isnull().sum()

id          0
genres      0
overview    3
keywords    0
title       0
cast        0
crew        0
dtype: int64

In [170]:
movies.dropna(inplace=True)

In [171]:
movies.isnull().sum()

id          0
genres      0
overview    0
keywords    0
title       0
cast        0
crew        0
dtype: int64

In [172]:
movies.duplicated().sum()
movies

,id,genres,overview,keywords,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",El Mariachi just wants to play his guitar and ...,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",A newlywed couple's honeymoon is upended by th...,[],Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,[],When ambitious New York attorney Sam is sent t...,[],Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,"[{""id"": 99, ""name"": ""Documentary""}]",Ever since the second grade when he first saw ...,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [173]:
import ast
def extractString(obj):
    L = []
    for i in ast.literal_eval(obj):
     L.append(i['name'])
    return L

In [174]:
movies['genres']= movies['genres'].apply(extractString)

In [175]:
movies['keywords'] = movies['keywords'].apply(extractString)

In [176]:
movies

,id,genres,overview,keywords,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,"[Action, Crime, Thriller]",El Mariachi just wants to play his guitar and ...,"[united statesâ€“mexico barrier, legs, arms, pap...",El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,"[Comedy, Romance]",A newlywed couple's honeymoon is upended by th...,[],Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"[Comedy, Drama, Romance, TV Movie]","""Signed, Sealed, Delivered"" introduces a dedic...","[date, love at first sight, narration, investi...","Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,[],When ambitious New York attorney Sam is sent t...,[],Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,[Documentary],Ever since the second grade when he first saw ...,"[obsession, camcorder, crush, dream girl]",My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [177]:
def extractTop3Cast(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if(counter !=3):
          L.append(i['name'])
          counter+=1
        else:
            break
    return L

In [178]:
movies['cast'] =  movies['cast'].apply(extractTop3Cast)

In [187]:
def extractDemandCrew(obj):
    L = []
    for i in ast.literal_eval(obj):
        if(i['job']=="Director" or i['job']=="Producer"):
           L.append(i['name'])
        else:
            break
    return L

In [192]:
 movies['crew']= movies['crew'].apply(extractDemandCrew)

In [196]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [197]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "")for i in x])

In [198]:
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "")for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "")for i in x])
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(" ", ",")for i in x])

In [124]:
movies

,id,genres,overview,keywords,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
1,285,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
2,206647,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bondâ€™s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[DanielCraig, ChristophWaltz, LÃ©aSeydoux]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
3,49026,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
4,49529,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
...,...,...,...,...,...,...,...
4804,9367,"[Action, Crime, Thriller]",NaN,"[unitedstatesâ€“mexicobarrier, legs, arms, paper...",El Mariachi,"[CarlosGallardo, JaimedeHoyos, PeterMarquardt]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
4805,72766,"[Comedy, Romance]",NaN,[],Newlyweds,"[EdwardBurns, KerryBishÃ©, MarshaDietlein]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
4806,231617,"[Comedy, Drama, Romance, TVMovie]",NaN,"[date, loveatfirstsight, narration, investigat...","Signed, Sealed, Delivered","[EricMabius, KristinBooth, CrystalLowe]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
4807,126186,[],NaN,[],Shanghai Calling,"[DanielHenney, ElizaCoupe, BillPaxton]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
4808,25975,[Documentary],NaN,"[obsession, camcorder, crush, dreamgirl]",My Date with Drew,"[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."

In [200]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['cast'] + movies['crew'] + movies['keywords']

In [201]:
movies['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [202]:
new_movies = movies[['id','title','tags']]

In [203]:
new_movies.shape

(4806, 3)

In [213]:
new_movies['tags'] = new_movies['tags'].apply(lambda x:" ".join(x))

C:\Users\anukatiy\AppData\Local\Temp\ipykernel_19076\3966708295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x:" ".join(x))

In [218]:
new_movies['tags'] = new_movies['tags'].apply(lambda x:x.lower())

C:\Users\anukatiy\AppData\Local\Temp\ipykernel_19076\1627240426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x:x.lower())

In [219]:
new_movies['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [223]:
# text vectorization - bag of words. tfidf, word2vec
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [233]:
def stem(text):
    y = []
    for i in text.split():
      y.append(ps.stem(i))
    return " ".join(y)

In [234]:
new_movies['tags'] = new_movies['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bondâ€™ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [254]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=3000, stop_words ="english")

In [255]:
vectors = cv.fit_transform(new_movies['tags']).toarray()

In [256]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [266]:
#user cosine distance instead of euclidean dist as high dimensionality
from sklearn.metrics.pairwise import cosine_similarity
movie_similarity = cosine_similarity(vectors)

In [269]:
movie_similarity.shape
movie_similarity[0]

array([1.        , 0.10050378, 0.06579517, ..., 0.02787473, 0.03077287,
       0.        ])

In [277]:
sorted(list(enumerate(movie_similarity[0])), reverse = True, key= lambda x:x[1])[1:6]

[(1216, 0.3200052246177461),
 (3730, 0.2896827297511606),
 (507, 0.28232985128663995),
 (539, 0.27272727272727276),
 (1194, 0.27247463045653303)]

In [2]:
def recommendMovie(movie):
    movie_index = new_movies[new_movies['title'] == movie].index(0)
    distances = movie_similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key= lambda x:x[1])[1:6]

    for i in movies_list:
       print(new_movies.iloc[i[0]].title)
    return

In [ ]:
recommendMovie('Avatar')